datetime
docx2pdf
docxtpl
numpy==1.20.0
paddlehub==2.3.1
protobuf==3.20.0
paddlepaddle==2.4.2
requests==2.31.0
streamlit_echarts
snownlp
streamlit==1.29.0
streamlit-on-Hover-tabs==1.0.1
streamlit_card
streamlit_elements
selenium==4.16.0
seleniumbase==4.22.5
webdriver-manager==3.8.5
xlrd
