streamlit==1.29.0
selenium==4.16.0
seleniumbase==4.22.5
streamlit-on-Hover-tabs==1.0.1
webdriver-manager==3.8.5
requests==2.31.0
protobuf==3.20.2
paddle-bfloat==0.1.7
paddle2onnx==1.0.6
paddlefsl==1.1.0
paddlehub==2.3.1
paddlenlp==2.6.0
paddlepaddle==2.3.2
